{% extends 'base.html' %}
{% load static %}
{% block title %}Rahul Rajput{% endblock %}

{% block content %}
<h1 class="text-3xl">Sup, I'm Rahul Rajput 👋</h1>

<div class="tiny-content">
    <p class="text-gray-300 mt-5">{{ object.pageContent|safe }}</p>
</div>

<hr class="border-t-1 border-white-300 my-4">
<p  class="text-gray-300 hover:text-white"><a href="">→ Resume</a></p>
<p  class="text-gray-300 hover:text-white"><a href="https://x.com/RahulSRajput30">→ Follow Me</a></p>
<p  class="text-gray-300 hover:text-white"><a href="mailto:rahulsrajput29@gmail.com">rahulsrajput29@gmail.com</a></p>
{% endblock %}