<nav class="navbar bg-transparent w-full py-4">
    <div class="flex justify-between">
        <ul class="flex space-x-6">
            <li><a href="{% url 'home' %}" class="text-white hover:text-gray-300">Home</a></li>
            <li><a href="{% url 'projects' %}" class="text-white hover:text-gray-300">Projects</a></li>
            <li><a href="{% url 'blog' %}" class="text-white hover:text-gray-300">Blog</a></li>
            <li><a href="{% url 'resume' %}" class="text-white hover:text-gray-300">Resume</a></li>
            <li><a href="{% url 'contact' %}" class="text-white hover:text-gray-300">Contact</a></li>
        </ul>
    </div>
</nav>
